.header-container {
    background-color: white;
    display: flex;
    flex-direction: row; /* Aligns elements in a row */
    align-items: center; /* Centers items vertically */
    padding: 10px;
    border-bottom: solid rgb(67, 65, 65) 1px;
}

.header-logo {
    width: 60px; /* Keeps aspect ratio */
    height: auto;
}

.header-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; /* Adds spacing between logo and title */
    right: 68%; /* Default for larger screens */
}
@media screen and (min-width: 1280px) {
    .header-title {
        right: 68%;
        font-size: 24px;
    }
}


@media screen and (max-width: 768px) { 
    .header-title {
        right:43%;
        font-size: 20px;
       
    }
}
@media screen and (max-width: 480px) {
    .header-title {
        right: 40%;
        font-size: 18px;
        margin-left: 8px
    }
  

    
}

@media screen and (max-width: 320px) {
    .header-title {
        right: 30%;
        font-size: 20px;
    }
    .header-logo {
        height: 40px; /* Adjust height as needed */
    }
    
}










