.nav-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.nav-item {
  padding: 10px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link:hover{
   color: rgb(95, 169, 219) ;
   text-decoration: underline;

}

@media screen and (max-width: 400px) {
    .nav-list {
        font-size: 14px;
    }
}

