.footer-container{
    background-color: black;
    color: gray;
    font-size: 14px;
    text-align: right;
   
   
}

.footer-text{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}


.footer-list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: white;
 
}

.footer-link{
    color: white;
    text-decoration: none;
}