.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.services-title{
    font-family: 'impact', Courier, monospace, 'Segoe UI', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 2px solid black;

}

.services-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.services-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.services-card:hover{
  transform: scale3d(1.1, 1.1, 1.1);
}

.services-img{
    width: 200px;
    height:auto;
    margin-bottom: 10px;

}

.services-card-title{
    font-family: 'impact', Courier, monospace, 'Segoe UI', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}

.services-card-text{
    font-family: 'Times New Roman', Courier, monospace;
    color: rgb(75, 73, 73);
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;

}

.services-button{
    background-color: #070807;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}